@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family:'biology1';
    src: url('fontes/Biology.ttf') format('truetype');
}
@font-face {
    font-family:'biology2';
    src: url('fontes/Biometro_gothic.ttf') format('truetype');
}
@font-face {
    font-family:'biology3';
    src: url('fontes/BIONICKIDSIMPLE.ttf') format('truetype');
}
@font-face {
    font-family:'biology4';
    src: url('fontes/BIONICKIDSIMPLESLANTED.ttf') format('truetype');
}
@font-face {
    font-family:'biology5';
    src: url('fontes/BIONICKIDSLANTED3D.ttf') format('truetype');
}
@font-face {
    font-family:'cursive';
    src: url('fontes/Cursivestandard.ttf') format('truetype');
}
@font-face {
    font-family:'cursivebold';
    src: url('fontes/CursivestandardBold.ttf') format('truetype');
}
@font-face {
    font-family:'ec1';
    src: url('fontes/ec.TTF') format('truetype');
}
@font-face {
    font-family:'ec2';
    src: url('fontes/ec_co_pt.TTF') format('truetype');
}
@font-face {
    font-family:'ec3';
    src: url('fontes/ec_cour.TTF') format('truetype');
}
@font-face {
    font-family:'ec4';
    src: url('fontes/ec_cp.TTF') format('truetype');
}
@font-face {
    font-family:'ec5';
    src: url('fontes/ecl.TTF') format('truetype');
}
@font-face {
    font-family:'ec6';
    src: url('fontes/ecl_cour.TTF') format('truetype');
}
@font-face {
    font-family:'days1';
    src: url('fontes/LittleDaisy.ttf') format('truetype');
}
@font-face {
    font-family:'days2';
    src: url('fontes/Littledays.ttf') format('truetype');
}
@font-face {
    font-family:'days3';
    src: url('fontes/LittleDaysAlt.ttf') format('truetype');
}
@font-face {
    font-family:'figufontmont';
    src: url('fontes/Mountain.ttf') format('truetype');
}
@font-face {
    font-family:'figufonttree';
    src: url('fontes/treesTFB.ttf') format('truetype');
}

:root{
    --font-1:'biology1';
    --font-2:'biology2';
    --font-3:'biology3';
    --font-4:'biology4';
    --font-5:'biology5';
    --font-6:'cursive';
    --font-7:'cursivebold';
    --font-8:'ec1';
    --font-9:'ec2';
    --font-10:'ec3';
    --font-11:'ec4';
    --font-12:'ec5';
    --font-13:'ec6';
    --font-14:'days1';
    --font-15:'days2';
    --font-16:'days3';
    --font-17:'figufontmont';
    --font-18:'figufonttree';   
    --font-19:'Times New Roman', Times, serif;
    --font-20:Arial, Helvetica, sans-serif;
    --font-21: 'Baloo Da 2', 'cursive';
    --font-22: 'Lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    outline: none;
    scroll-behavior: smooth;
    list-style: none;
}
body.planoestudos{
    background-color: rgb(218, 218, 218);
}
body.menuestudos{
    background:gray url('imagens/rose.jpg') top center /cover no-repeat fixed ;    
}
.container{    
    margin: auto;    
    
}
.header{
    display: flex;    
    align-items: baseline;
    width: 100%;
    border-bottom: .1px solid black;
    padding-bottom: .5rem;
    background-color: #ffc;
}
.menu{   
   padding: .4rem .5rem; 
   text-align: center;
   background-color: #14d2a2;
   width: 17%;
   border-right: 3px solid black; 
   color: white;
   text-shadow: 1px 2px rgba(0, 0, 0, 0.55);  
   border-bottom: .1px solid black;
   border-top: .1px solid black;
   position: fixed;
   box-shadow: .2rem 0px rgba(0, 0, 0, 0.4);
}
.abrirlogin .menu{
    border-bottom: 0px;
}
.sub-header{       
    margin-left:20rem ;
    padding: .2rem .5rem;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;    
}
.perfil{
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
}
.perfil i{
    font-size: 1.6rem;
    
}
.abrirlogin #sistemaaluno{
    height: 100px;
    background-color: #fff;
    position: absolute;
    right: 0px;
    width: 22rem;    
    box-shadow: -7px 11px 8px 2px rgba(0, 0, 0, 0.308);
    border-radius: 0px 0 0px 20px;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.abrirlogin #sistemaaluno::before{
    border-left: 14px solid white;
    border-right: 14px solid white;
    border-top: 14px solid #000;
    content: "";
    height: 5px;
    position: absolute;
    left: 48px;
    top: 0;
}
.liberaracesso #sistemaaluno{
    border: 0;
    box-shadow: 0px 0px 0px 0px black;
    border-radius: 0;
}
.cadastrar{
    cursor: pointer;
}
.entrar{
    cursor: pointer;    
}
.abrirentrar::before{
    border-left: 14px solid white;
    border-right: 14px solid white;
    border-top: 14px solid #000;
    content: "";
    height: 5px;
    position: absolute;
    left: 169px;
    top: 86px;
}
.sistemaaluno{
    display: none;
}
.tipologin{
    display: none;
}
.liberartipo{
    display: flex;
    position: absolute;
    background-color: white;
    right: 0;
    top: 152px;    
    align-items: center;
    width: 36.9rem;
    justify-content: space-between;
    padding: 0 2.6rem 0 0;
    border: .1px solid rgba(0, 0, 0, 0.712);
    z-index: 10;
}
.ulist-tipologin{
    display: flex;
    background-color: transparent;
}
.ulist-tipologin li{
    border-bottom: 8px solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    height: 60px;
    text-align: center;
    width: 70px;    
}
.ulist-tipologin li span{
    vertical-align: top;    
}
.google{
    background: #de4c33;
    border-bottom-color: #9b3524!important;    
}
.google:hover{
    border-bottom-color: #de4c33!important;
}
.fb{
    background: #3e569c;
    border-bottom-color: #2b3c6d!important;
}
.fb:hover{    
    border-bottom-color: #3e569c!important;
}
.twitter{
    background: #45b0e4;
    border-bottom-color: #307b9f!important;
}
.twitter:hover{    
    border-bottom-color: #45b0e4!important;
}
.portal{
    background-color: #495B7A;
    border-bottom-color:#3A4861!important ;
}
.portal:hover{    
    border-bottom-color:#495B7A!important ;
}
.google-icon, .facebook-icon, .twitter-icon{    
    font-size: 4rem;
    position: relative;
    top: -10px;
    font-weight: bold;
    color: white;
}
.facebook-icon {
    font-size: 3.5rem;
    top: -5px;
}
.portal-portal{
    width: 70px;
    height: 60px;
}
.portal-portal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar-ulist{
    background-color: #333c4e;
    color: rgb(160, 160, 160);
    box-shadow: .2rem 3px rgba(0, 0, 0, 0.4);
}
.navbar-ulist{
    border-right: 3px solid black;
    width: 18%;
    height: 100vh;
    position: fixed;
    padding: 1rem 0;
}
.icon{
    padding: 0 .5rem 0 0 ;
    font-size: 1.4rem;
}
.navbar-ulist li{
    padding: 1.2rem .6rem;
    background-color: #3d4657;
    margin: .2rem 0;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 3px solid #3d4657;
}
.navbar-ulist li:hover{
    color: white;
    border-left: 4px solid green;
    border-radius: 0 1rem .4rem 0 ;
    cursor: pointer;
}
#mark{
    background-color: rgba(102, 102, 238, 0.8);
    color: #14d2a2;
    border-left: 4px solid green;
    border-right: 4px solid rgba(50, 255, 255, 0.8);
    border-radius: 0 1rem .4rem 0 ;
    cursor: pointer;
}
.container-wrapper{
    width: 60%;
    margin: 0 0 0 31%;    
    padding: 2rem;
}
select#materias{
    width: 100%;
    padding: .5rem;
    font-size: 1.5rem;    
}
select#materias option{
    font-family: var(--font-22);
    background-color: #fff;
}
.field{
    margin: 1rem 0;
    display: none;
}
.materia .open{
    display: block;
}
.fechar{
    display: none;
}
.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem 0 0 0rem;
    background-color: #fff;    
    position: relative;    
    transition: all .8s;        
    width: 100%;
    font-family: var(--font-21);
}
.card:hover {
    transform: translateZ(.1rem);
    color: #312f2f;    
    box-shadow: 0 4px 4px rgb(0 0 0 / 35%);
    opacity: .9;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid black;
}
.card:hover .card-img-wrapper img{
    border-radius: 1rem 0 0 1rem;
}
.card-img-wrapper{
    width: 15rem;
    height: 15rem;
    background-color: rgb(32, 26, 26);    
    opacity: .9;
    z-index: 100;
}
.card-img-wrapper img{
    width: 107%;
    height: 100%;
    object-fit: cover;      
}
.title{    
    margin-right: 9.5rem;
}
.filosofia .title{
    margin-right: 30rem;
}
.geografia .title{
    margin-right: 21rem;
}
.pt .title{
    margin-right: 14rem;
}
.quimica .title{
    margin-right: 25rem;
}
.historia .title{
    margin-right: 30rem;
}
.matematica .title{
    margin-right: 33rem;
}
.ingles .title{
    margin-right: 28rem;
}
.professor{
    position: absolute;
    top: 6rem;
    left: 17rem;
}
.prof-img-wrapper{
    width: 3rem;
    height: 3rem;
    border-radius: 50%
}
.prof-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%
}
.professor-name{
    display: flex;
    align-items: center;
    position: absolute;
    width: 13rem;
    left: 3.2rem;
    top: 1rem;
    color: #00bfa5;
    text-shadow: .1rem .1rem .1rem black;
    font-weight: bold;
}
.professor-name p{
    padding: 0 0.5rem 0 0rem;
    font-size: 1.3rem;    
}
.btn{
    margin-left: -8px;
    position: absolute;
    left: 37%;
    bottom: 17px;    
    border-radius: 2rem;
    font-family: var(--font-22);
}
.btn button{    
    border: 0;
    background-color: #e6e6e6;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    cursor: pointer;    
    border-radius: 2rem;
    font-family: var(--font-22);
}